*{
    margin: 0;
    padding: 0;
}


.container{
    height: 600px;
    width: 950px;
    background-color: #CFF5E7;
    border: 4px solid #0D4C92;
    border-radius: 10px;
    position: absolute;
    top: 2.5rem;
    left: 15rem;
    font-family: 'Montserrat', sans-serif;
}

.b1{
    height: 558px;
    width: 908px;
    border: 2px solid #0D4C92;
    background-color: aliceblue;
    position: absolute;
    top: 20px;
    left: 20px;
}

.b2{
    height: 548px;
    width: 898px;
    border: 2px solid black;
    position: absolute;
    top: 25px;
    border-style:dashed;
    left: 25px;    
}

.cn{
    border-bottom: 1.2px solid black;
    width: 15rem;
    position: relative;
    top: 12px;
    left: 40rem;
}

.int{
    width: 10rem;
    position: absolute;
    top: 5rem;
    left: 4rem;
}

.amc{
    width: 10rem;
    position: absolute;
    border-radius: 6rem;
    top: 5rem;
    left: 42rem;
}

.head{
    display: flex;
    justify-content: center;
    font-family: 'Great Vibes', cursive;
    font-size: 55px;
    text-align: center;
    position: relative;
    top: -5px;
}

.head.c{
    font-size: 80px;
    letter-spacing: 12px;
    position: relative;
    top: 30px;
}

.presents{
    display: flex;
    justify-content: center;
    position: relative;
    top: 15px;
    font-size: 22px;
}

.blank{
    width: 18rem;
    position: relative;
    top: 55px;
    left: 19rem;
    background-color: black;
}

.fills{
    position: relative;
    left: 4rem;
    top: 6rem;
}

.line{
    width: 9rem;
    position: relative;
    top: 55px;
    left: 19rem;
    background-color: black;
}

.blanks {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 12px;
    position: relative;
    top: 9rem;
    left: -17rem;
}

.signatures{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 12px;
    position: relative;
    top: 12rem;
    left: 2rem;
    font-size: 12px;
    font-weight: 600;
}